<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a routerLink="/" class="nav-link d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">ShopApp</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="nav-link me-3 py-2 text-dark text-decoration-none" routerLink="/">Home</a>
        <a class="nav-link me-3 py-2 text-dark text-decoration-none" routerLink="/cart">Cart</a>
        <a class="nav-link me-3 py-2 text-dark text-decoration-none" routerLink="/login">Login</a>
        <a class="nav-link me-3 py-2 text-dark text-decoration-none" routerLink="/signup">Signup</a>
        <a class="nav-link me-3 py-2 text-dark text-decoration-none" routerLink="#">Super Admin</a>
    </nav>
    </div>
  </header>